// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.btn-primary {
    background: #ee0086;
}

.btn-primary:hover {
    background: #87014d;
}

.page-item.active .page-link {
    background: #ee0086 !important ;
}

.create-btn {
    width: 300px;
}

#navbarDropdown {
    padding: 0;
}

.head-nav {
    background: #efedec;
}

.search-input {
    width: 336px;
}

.sidebar {
    padding: 3px;
}
.sidebar .sidebar-item {
    list-style: none;
}

.sidebar-link.parent {
    text-decoration: none;
    color: #5a5859;
    font-weight: normal;
    display: block;
    width: 164px !important;
    padding: 5px 15px;
    font-weight: bold;
}

.sidebar-link {
    text-decoration: none;
    color: #5a5859;
    font-weight: normal;
    display: block;
    width: 164px !important;
    padding: 5px 15px;
    font-weight: bold;
}

.sidebar-link.active {
    background: #d9d9d9;
    border-radius: 24px;
    text-align: left;
}
